[submodule "ana"]
	path = cours/ana
	url = git@github.com:g-roch/heig-ana.git
[submodule "gen"]
	path = cours/gen
	url = git@github.com:g-roch/heig-gen.git
[submodule "mad"]
	path = cours/mad
	url = git@github.com:g-roch/heig-mad.git
[submodule "pco"]
	path = cours/pco
	url = git@github.com:g-roch/heig-pco.git
[submodule "slo"]
	path = cours/slo
	url = git@github.com:g-roch/heig-slo.git
[submodule "sos"]
	path = cours/sos
	url = git@github.com:g-roch/heig-sos.git
[submodule "srx"]
	path = cours/srx
	url = git@github.com:g-roch/heig-srx.git
[submodule "res"]
	path = cours/res
	url = git@github.com:g-roch/heig-res.git
[submodule "tools/bot"]
	path = tools/bot
	url = git@github.com:g-roch/heig-bot.git
