[submodule "mad"]
	path = cours/mad
	url = git@github.com:g-roch/heig-mad.git
[submodule "tools/bot"]
	path = tools/bot
	url = git@github.com:g-roch/heig-bot.git
[submodule "cours/ana/exo"]
	path = cours/ana/exo
	url = git@github.com:g-roch/heig-ana-exo.git
[submodule "cours/ana/cours"]
	path = cours/ana/cours
	url = git@github.com:g-roch/heig-ana-cours.git
[submodule "cours/ana/notes"]
	path = cours/ana/notes
	url = git@github.com:g-roch/heig-ana-notes.git
[submodule "cours/gen/cours"]
	path = cours/gen/cours
	url = git@github.com:g-roch/heig-gen-cours.git
[submodule "cours/gen/exo"]
	path = cours/gen/exo
	url = git@github.com:g-roch/heig-gen-exo.git
[submodule "cours/pco/cours"]
	path = cours/pco/cours
	url = git@github.com:g-roch/heig-pco-cours.git
[submodule "cours/pco/exo"]
	path = cours/pco/exo
	url = git@github.com:g-roch/heig-pco-exo.git
[submodule "cours/res/cours"]
	path = cours/res/cours
	url = git@github.com:g-roch/heig-res-cours.git
[submodule "cours/res/lab/lab00-Chill"]
	path = cours/res/lab/lab00-Chill
	url = git@github.com:g-roch/heig-res-lab00-Chill.git
[submodule "cours/res/lab/lab01-Java-IO"]
	path = cours/res/lab/lab01-Java-IO
	url = git@github.com:g-roch/heig-res-lab01-Java-IO.git
[submodule "cours/res/exo/exo01-Protocol-Design"]
	path = cours/res/exo/exo01-Protocol-Design
	url = git@github.com:g-roch/heig-res-exo01-Protocol-Design.git
[submodule "cours/slo/cours"]
	path = cours/slo/cours
	url = git@github.com:g-roch/heig-slo-cours.git
[submodule "cours/sos/cours"]
	path = cours/sos/cours
	url = git@github.com:g-roch/heig-sos-cours.git
[submodule "cours/srx/cours"]
	path = cours/srx/cours
	url = git@github.com:g-roch/heig-srx-cours.git
[submodule "cours/srx/lab/lab01"]
	path = cours/srx/lab/lab01
	url = git@github.com:g-roch/heig-srx-lab01.git
[submodule "cours/gen/lab/lab01"]
	path = cours/gen/lab/lab01
	url = git@github.com:g-roch/heig-gen-lab01.git
[submodule "cours/gen/lab/lab02"]
	path = cours/gen/lab/lab02
	url = git@github.com:g-roch/heig-gen-lab02.git
[submodule "cours/pco/lab"]
	path = cours/pco/lab
	url = git@github.com:g-roch/heig-pco-lab.git
[submodule "cours/slo/lab/lab00"]
	path = cours/slo/lab/lab00
	url = git@github.com:g-roch/heig-slo-lab00.git
[submodule "cours/slo/lab/lab01"]
	path = cours/slo/lab/lab01
	url = git@github.com:g-roch/heig-slo-lab01.git
[submodule "cours/sos/lab/lab01"]
	path = cours/sos/lab/lab01
	url = git@github.com:g-roch/heig-sos-lab01.git
[submodule "cours/srx/notes"]
	path = cours/srx/notes
	url = git@github.com:g-roch/heig-srx-notes.git
[submodule "cours/srx/lab/lab02"]
	path = cours/srx/lab/lab02
	url = git@github.com:g-roch/heig-srx-lab02.git
[submodule "cours/pro/code"]
	path = cours/pro/code
	url = git@github.com:HEIGVD-PRO-A-07/HEIGVD-PRO-A-07.git
[submodule "cours/pro/manuel"]
	path = cours/pro/manuel
	url = git@github.com:HEIGVD-PRO-A-07/HEIGVD-PRO-A-07-manuel.git
[submodule "cours/pro/notes"]
	path = cours/pro/notes
	url = git@github.com:g-roch/heig-pro-notes.git
[submodule "cours/gen/notes"]
	path = cours/gen/notes
	url = git@github.com:g-roch/heig-gen-notes.git
[submodule "cours/srx/lab/lab03"]
	path = cours/srx/lab/lab03
	url = git@github.com:g-roch/heig-srx-lab03.git
[submodule "cours/slo/lab/lab02"]
	path = cours/slo/lab/lab02
	url = git@github.com:g-roch/heig-slo-lab02.git
[submodule "cours/gen/lab/lab03"]
	path = cours/gen/lab/lab03
	url = git@github.com:GEN-Monopoly/GEN-L-03.git
