[submodule "mad"]
	path = cours/mad
	url = git@github.com:g-roch/heig-mad.git
[submodule "srx"]
	path = cours/srx
	url = git@github.com:g-roch/heig-srx.git
[submodule "tools/bot"]
	path = tools/bot
	url = git@github.com:g-roch/heig-bot.git
[submodule "cours/ana/exo"]
	path = cours/ana/exo
	url = git@github.com:g-roch/heig-ana-exo.git
[submodule "cours/ana/cours"]
	path = cours/ana/cours
	url = git@github.com:g-roch/heig-ana-cours.git
[submodule "cours/ana/notes"]
	path = cours/ana/notes
	url = git@github.com:g-roch/heig-ana-notes.git
[submodule "cours/gen/cours"]
	path = cours/gen/cours
	url = git@github.com:g-roch/heig-gen-cours.git
[submodule "cours/gen/exo"]
	path = cours/gen/exo
	url = git@github.com:g-roch/heig-gen-exo.git
[submodule "cours/pco/cours"]
	path = cours/pco/cours
	url = git@github.com:g-roch/heig-pco-cours.git
[submodule "cours/pco/exo"]
	path = cours/pco/exo
	url = git@github.com:g-roch/heig-pco-exo.git
[submodule "cours/res/cours"]
	path = cours/res/cours
	url = git@github.com:g-roch/heig-res-cours.git
[submodule "cours/res/lab/lab00-Chill"]
	path = cours/res/lab/lab00-Chill
	url = git@github.com:g-roch/heig-res-lab00-Chill.git
[submodule "cours/res/lab/lab01-Java-IO"]
	path = cours/res/lab/lab01-Java-IO
	url = git@github.com:g-roch/heig-res-lab01-Java-IO.git
[submodule "cours/res/exo/exo01-Protocol-Design"]
	path = cours/res/exo/exo01-Protocol-Design
	url = git@github.com:g-roch/heig-res-exo01-Protocol-Design.git
[submodule "cours/slo/cours"]
	path = cours/slo/cours
	url = git@github.com:g-roch/heig-slo-cours.git
[submodule "cours/sos/cours"]
	path = cours/sos/cours
	url = git@github.com:g-roch/heig-sos-cours.git
